<center><img src="https://synapsedatascience.com.br/wp-content/uploads/2020/12/logo-jupyter.png" width="300"/></center>

In [1]:
# importar a biblioteca de widgets
import ipywidgets as widgets
from ipywidgets import Layout, GridBox

## Construindo a interface de seleção

In [2]:
wid_select_add = widgets.SelectMultiple(
    layout=Layout(width='auto', grid_area='wid_select_add'))
wid_select_remove = widgets.SelectMultiple(
    layout=Layout(width='auto', grid_area='wid_select_remove'))

wid_button_add = widgets.Button(
    button_style='success',
    tooltip='Add',
    icon='angle-double-right',
    layout=Layout(width='auto', grid_area='wid_button_add')
)
wid_button_remove = widgets.Button(
    button_style='danger',
    tooltip='Remove',
    icon='angle-double-left',
    layout=Layout(width='auto', grid_area='wid_button_remove')
)

widget_gridbox = \
    GridBox(children=[wid_select_add, wid_select_remove, 
                      wid_button_add, wid_button_remove],
            layout=widgets.Layout(
                width='100%',
                grid_template_rows='auto',
                grid_template_columns='40% 5% 40%',
                grid_gap='5px',
                grid_template_areas='''
                    "wid_select_remove wid_button_add wid_select_add"
                    "wid_select_remove wid_button_remove wid_select_add"
                    '''
            )
    )

def add_button_clicked(button):

    if len(wid_select_remove.value) > 0:
        
        selected_values = list(wid_select_remove.value)
        
        wid_select_remove.options = [value for value in wid_select_remove.options 
                                     if value not in wid_select_remove.value]

        selected_options = selected_values + list(wid_select_add.options)
        wid_select_add.options = selected_options

def remove_button_clicked(button):

    if len(wid_select_add.value) > 0:
        
        selected_values = list(wid_select_add.value)
        
        wid_select_add.options = [value for value in wid_select_add.options 
                                  if value not in wid_select_add.value]

        selected_options = selected_values + list(wid_select_remove.options)
        wid_select_remove.options = selected_options

wid_button_add.on_click(add_button_clicked)
wid_button_remove.on_click(remove_button_clicked)

wid_select_remove.options = ['Brasil', 'Argentina', 'Uriguai', 'Estados Unidos', 
                             'Itália', 'França', 'Portugal']

display(widget_gridbox)

GridBox(children=(SelectMultiple(layout=Layout(grid_area='wid_select_add', width='auto'), options=(), value=()…

# Exercício

1. Escolha um dataset com uma feature (coluna) categórica;  


2. Utilizando a interface *widget_gridbox* criada anteriormente, preencha a tela da esquerda com todos os valores únicos da feature escolhida;

  **`Dica:`** para pegar os valores únicos, você pode utilizar [pandas.unique()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.unique.html)


3. Crie um novo botão e um handle **on_click** para filtar o dataset somente com os valores categóricos adicionados pelo usuário, ou seja, que foram movidos para a tela da direita com a interface *widget_gridbox*;

  **`Dica:`** para filtrar um dataframe e manter somente os valores contídos em uma lista, você pode utilizar [pandas.isin()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html)


4. Mostre o dataframe antes e depois de realizar um processo de filtragem.

# Resposta

### 1. Escolha um dataset com uma feature (coluna) categórica;

Vamos utilizar dados com informações de ranqueamento de diferentes universidades do mundo.

Dados disponibilizados no Kaggle: https://www.kaggle.com/mylesoneill/world-university-rankings?select=cwurData.csv

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('cwurData.csv')
df.head(5)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012
2,3,Stanford University,USA,3,17,11,5,4,2,2,NaN,15,89.50,2012
3,4,University of Cambridge,United Kingdom,1,10,24,4,16,16,11,NaN,50,86.17,2012
4,5,California Institute of Technology,USA,4,2,29,7,37,22,22,NaN,18,85.21,2012

Vamos utilizar a feature categórica **country** para fazer a nossa filtragem.

### 2. Utilizando a interface *widget_gridbox* criada anteriormente, preencha a tela da esquerda com todos os valores únicos da feature escolhida;

In [5]:
wid_select_remove.options = df['country'].unique()

In [6]:
display(widget_gridbox)

GridBox(children=(SelectMultiple(layout=Layout(grid_area='wid_select_add', width='auto'), options=(), value=()…

### 3. Crie um novo botão e um handle **on_click** para filtar o dataset somente com os valores categóricos adicionados pelo usuário, ou seja, que foram movidos para a tela da direita com a interface *widget_gridbox*;

In [7]:
# definição do widget de botão para realizar a filtragem
wid_button = widgets.Button(description='Filtrar')
# definição do widget output para mostrar o dataframe filtrado
wid_output = widgets.Output()

# função executada ao clicar no botão de filtragem
def on_button_clicked(b):
    df_tmp = df[df['country'].isin(wid_select_add.options)]
    # limpar os dados da tela de saída antes de mostrar novamente
    wid_output.clear_output(wait=True)
    with wid_output:
        display(df_tmp)

wid_button.on_click(on_button_clicked)

display(wid_button)
display(wid_output)

Button(description='Filtrar', style=ButtonStyle())

Output()

### 4. Mostre o dataframe antes e depois de realizar um processo de filtragem.

In [8]:
wid_vbox_filter = widgets.VBox([widget_gridbox, wid_button, wid_output], 
                               layout=widgets.Layout(grid_gap='10px'))

wid_vbox_filter

VBox(children=(GridBox(children=(SelectMultiple(layout=Layout(grid_area='wid_select_add', width='auto'), optio…