In [1]:
# importar biblioteca do banco
import sqlite3

# 1. Criando a tabela no banco

In [2]:
# # conectando ao banco de dados em memória
# conn = sqlite3.connect(':memory:')

# conectando ao banco de dados
conn = sqlite3.connect('enterprise.db')

# definindo um cursor
cursor = conn.cursor()

In [3]:
# criando a tabela
cursor.execute("""
                  CREATE TABLE empregados (
                      id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
                      nome TEXT NOT NULL,
                      cargo TEXT,
                      salario REAL);
                """)

print('Tabela criada com sucesso.')
# fechar a conexão com o banco
conn.close()

Tabela criada com sucesso.

In [4]:
# testar se a tabela foi criada
!sqlite3 enterprise.db '.tables'
!sqlite3 enterprise.db 'PRAGMA table_info(empregados)'

empregados
0|id|INTEGER|1||1
1|nome|TEXT|1||0
2|cargo|TEXT|0||0
3|salario|REAL|0||0

# 2. Adicionando dados no banco

In [5]:
# acrescentar os dados existentes ao banco
empregados = [
    {"nome":"Valentina", "cargo":"Analista", "salario":5000},
    {"nome":"Enzo", "cargo":"Analista", "salario":4000},
    {"nome":"Maria", "cargo":"Desenvolvedor", "salario":5000}
]

# conectando ao banco de dados
conn = sqlite3.connect('enterprise.db')
# definindo um cursor
cursor = conn.cursor()

# inserindo dados na tabela
for empregado in empregados:
    cursor.execute("""
                      INSERT INTO empregados (nome, cargo, salario)
                      VALUES (?, ?, ?)
                   """, (empregado['nome'], 
                         empregado['cargo'], 
                         empregado['salario']))

In [6]:
# salvando os dados no banco
conn.commit()
# fechar a conexão com o banco
conn.close()

# 3. Consultando dados no banco

In [20]:
conn = sqlite3.connect('enterprise.db')
cursor = conn.cursor()

# lendo os dados
cursor.execute("SELECT * FROM empregados;")

for row in cursor.fetchall():
    print(row)

# fechar a conexão com o banco
conn.close()

(1, 'Valentina', 'Analista', 5000.0)
(2, 'Enzo', 'Analista', 4000.0)
(3, 'Maria', 'Desenvolvedor', 5000.0)
(4, 'Gabriel', 'Engenheiro', 6000.0)
(5, 'Gabriel', 'Engenheiro', 6000.0)
(6, 'Gabriel', 'Engenheiro', 6000.0)

In [8]:
conn = sqlite3.connect('enterprise.db')
cursor = conn.cursor()

query = """
            SELECT nome, cargo, salario 
            FROM empregados;
        """

# lendo os dados
cursor.execute(query)
    
employers = [{'nome':row[0], 'cargo':row[1], 'salario':row[2]} 
              for row in cursor.fetchall()]

# fechar a conexão com o banco
conn.close()

employers

[{'nome': 'Valentina', 'cargo': 'Analista', 'salario': 5000.0},
 {'nome': 'Enzo', 'cargo': 'Analista', 'salario': 4000.0},
 {'nome': 'Maria', 'cargo': 'Desenvolvedor', 'salario': 5000.0}]

In [9]:
def query_employers_to_dict(conn, query):
    
    # definindo um cursor
    cursor = conn.cursor()
    
    # lendo os dados
    cursor.execute(query)
    
    # construindo dicionário da consulta
    employers_dict = [{'nome':row[0], 'cargo':row[1], 'salario':row[2]} 
                       for row in cursor.fetchall()]
    
    return employers_dict

In [10]:
conn = sqlite3.connect('enterprise.db')

cargo = 'Analista' # tentar com 'analista'

query = """
            SELECT nome, cargo, salario 
            FROM empregados
            WHERE "cargo" = "{}";
        """.format(cargo)
    
employers = query_employers_to_dict(conn, query)

# fechar a conexão com o banco
conn.close()

employers

[{'nome': 'Valentina', 'cargo': 'Analista', 'salario': 5000.0},
 {'nome': 'Enzo', 'cargo': 'Analista', 'salario': 4000.0}]

In [11]:
conn = sqlite3.connect('enterprise.db')

cargo = 'Analista'

query = """
            SELECT nome, cargo, salario
            FROM empregados
            WHERE "cargo" LIKE "{}";
        """.format(cargo)

employers = query_employers_to_dict(conn, query)

# fechar a conexão com o banco
conn.close()

employers

[{'nome': 'Valentina', 'cargo': 'Analista', 'salario': 5000.0},
 {'nome': 'Enzo', 'cargo': 'Analista', 'salario': 4000.0}]

In [12]:
conn = sqlite3.connect('enterprise.db')

info = 'salario'
value = '5000'

if value.isnumeric():
    value = float(value)
    
# construir a consulta
query = """
            SELECT nome, cargo, salario 
            FROM empregados
            WHERE "{}" LIKE "{}";
        """.format(info, value)
    
employers = query_employers_to_dict(conn, query)
employers

[{'nome': 'Valentina', 'cargo': 'Analista', 'salario': 5000.0},
 {'nome': 'Maria', 'cargo': 'Desenvolvedor', 'salario': 5000.0}]

# 4. Adicionando dados no banco

In [23]:
# acrescentar um novo empregado ao banco de dados
nome = "Gabriel" 
cargo = "Engenheiro" 
salario = 6000

# conectando ao banco de dados
conn = sqlite3.connect('enterprise.db')
# definindo um cursor
cursor = conn.cursor()

# inserindo o dado na tabela
cursor.execute("""
                  INSERT INTO empregados (nome, cargo, salario)
                  VALUES ("{}", "{}", "{}")
               """.format(nome, cargo, salario))

# salvando os dados no banco
conn.commit()
# fechar a conexão com o banco
conn.close()