In [1]:
import pandas as pd

# Load and create the excel files

In [2]:
filename = 'data/sales_data.csv'
df = pd.read_csv(filename, index_col=0)

In [3]:
# remover o id
df = df.drop(['Order ID'], axis=1)

In [4]:
df_tmp = df.iloc[:1000].copy()
df_tmp = df_tmp.reset_index(drop=True)

# salvar a tabela com quantidade de vendas
df_tmp.to_excel('data/sales_one.xlsx', sheet_name='Sales1')

In [5]:
df_tmp = df.iloc[850:1850].copy()
df_tmp = df_tmp.reset_index(drop=True)

# salvar a tabela com quantidade de vendas
df_tmp.to_excel('data/sales_two.xlsx', sheet_name='Sales2')

In [6]:
## ordendar pelo datetime
# df['Order Date'] = pd.to_datetime(df['Order Date'])
# df = df.sort_values('Order Date')

# Read excel file

In [7]:
# pip install openpyxl
import openpyxl

In [8]:
# defini os nomes dos arquivos
filename = 'data/sales_one.xlsx'

### Using the Openpyxl directly

In [9]:
# carregar o arquivo excel com a biblioteca
workbook = openpyxl.load_workbook(filename)

In [10]:
# mostrar as tabelas (worksheets)
workbook.worksheets

In [11]:
worksheet = workbook['Sales1']

In [12]:
# acessando um valor espec√≠fico
worksheet['D2'].value

11.95

In [13]:
# acessando um valor (outra forma)
worksheet_mat = list(worksheet.columns)

worksheet_mat[3][1].value

11.95

### Using pandas

In [14]:
df = pd.read_excel(filename, index_col=0)
df.head()

,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City
0,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,Dallas (TX)
1,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,Boston (MA)
2,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
3,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
4,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,Los Angeles (CA)

In [15]:
# acessando um valor
df.loc[0,'Price Each']

11.95

# Merge different spreadsheets

In [16]:
# defini os nomes dos arquivos
filename_one = 'data/sales_one.xlsx'
filename_two = 'data/sales_two.xlsx'

In [17]:
df_one = pd.read_excel(filename_one, index_col=0)
df_one

,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City
0,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,Dallas (TX)
1,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,Boston (MA)
2,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
3,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
4,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,Los Angeles (CA)
...,...,...,...,...,...,...,...
995,AAA Batteries (4-pack),1,2.99,04/09/19 20:13,"825 2nd St, Portland, OR 97035",4,Portland (OR)
996,Bose SoundSport Headphones,1,99.99,04/07/19 06:45,"845 Lakeview St, San Francisco, CA 94016",4,San Francisco (CA)
997,AAA Batteries (4-pack),1,2.99,04/28/19 19:03,"616 9th St, New York City, NY 10001",4,New York City (NY)
998,Bose SoundSport Headphones,1,99.99,04/15/19 09:51,"182 Main St, San Francisco, CA 94016",4,San Francisco (CA)
999,iPhone,1,700.00,04/07/19 17:38,"719 North St, Los Angeles, CA 90001",4,Los Angeles (CA)

In [18]:
df_two = pd.read_excel(filename_two, index_col=0)
df_two

,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City
0,Apple Airpods Headphones,1,150.00,04/10/19 18:32,"732 Forest St, New York City, NY 10001",4,New York City (NY)
1,Bose SoundSport Headphones,1,99.99,04/19/19 20:15,"715 Church St, Los Angeles, CA 90001",4,Los Angeles (CA)
2,27in 4K Gaming Monitor,1,389.99,04/27/19 15:23,"61 Spruce St, San Francisco, CA 94016",4,San Francisco (CA)
3,27in FHD Monitor,1,149.99,04/22/19 12:14,"564 Lake St, San Francisco, CA 94016",4,San Francisco (CA)
4,Lightning Charging Cable,1,14.95,04/25/19 08:01,"829 Dogwood St, San Francisco, CA 94016",4,San Francisco (CA)
...,...,...,...,...,...,...,...
995,AA Batteries (4-pack),1,3.84,04/06/19 12:27,"198 8th St, San Francisco, CA 94016",4,San Francisco (CA)
996,AA Batteries (4-pack),1,3.84,04/22/19 16:55,"594 7th St, New York City, NY 10001",4,New York City (NY)
997,Apple Airpods Headphones,1,150.00,04/05/19 23:46,"686 8th St, San Francisco, CA 94016",4,San Francisco (CA)
998,USB-C Charging Cable,1,11.95,04/04/19 16:39,"263 Sunset St, Los Angeles, CA 90001",4,Los Angeles (CA)
999,Apple Airpods Headphones,1,150.00,04/26/19 14:24,"388 Johnson St, San Francisco, CA 94016",4,San Francisco (CA)

### Merge similar data

In [19]:
df_merge = df_one.merge(df_two)

In [20]:
df_merge

,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City
0,Apple Airpods Headphones,1,150.00,04/10/19 18:32,"732 Forest St, New York City, NY 10001",4,New York City (NY)
1,Bose SoundSport Headphones,1,99.99,04/19/19 20:15,"715 Church St, Los Angeles, CA 90001",4,Los Angeles (CA)
2,27in 4K Gaming Monitor,1,389.99,04/27/19 15:23,"61 Spruce St, San Francisco, CA 94016",4,San Francisco (CA)
3,27in FHD Monitor,1,149.99,04/22/19 12:14,"564 Lake St, San Francisco, CA 94016",4,San Francisco (CA)
4,Lightning Charging Cable,1,14.95,04/25/19 08:01,"829 Dogwood St, San Francisco, CA 94016",4,San Francisco (CA)
...,...,...,...,...,...,...,...
145,AAA Batteries (4-pack),1,2.99,04/09/19 20:13,"825 2nd St, Portland, OR 97035",4,Portland (OR)
146,Bose SoundSport Headphones,1,99.99,04/07/19 06:45,"845 Lakeview St, San Francisco, CA 94016",4,San Francisco (CA)
147,AAA Batteries (4-pack),1,2.99,04/28/19 19:03,"616 9th St, New York City, NY 10001",4,New York City (NY)
148,Bose SoundSport Headphones,1,99.99,04/15/19 09:51,"182 Main St, San Francisco, CA 94016",4,San Francisco (CA)
149,iPhone,1,700.00,04/07/19 17:38,"719 North St, Los Angeles, CA 90001",4,Los Angeles (CA)

In [21]:
# testar se o valor existe na planilha 1
df_one[df_one['Order Date'] == '04/10/19 18:32']

,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City
850,Apple Airpods Headphones,1,150.0,04/10/19 18:32,"732 Forest St, New York City, NY 10001",4,New York City (NY)

In [22]:
# testar se o valor existe na planilha 2
df_two[df_two['Order Date'] == '04/10/19 18:32']

,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City
0,Apple Airpods Headphones,1,150.0,04/10/19 18:32,"732 Forest St, New York City, NY 10001",4,New York City (NY)

### Merge different data

In [23]:
df_merge = df_one.merge(df_two, how='outer')
df_merge

,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,City
0,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,Dallas (TX)
1,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,Boston (MA)
2,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
3,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,Los Angeles (CA)
4,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,Los Angeles (CA)
...,...,...,...,...,...,...,...
1845,AA Batteries (4-pack),1,3.84,04/06/19 12:27,"198 8th St, San Francisco, CA 94016",4,San Francisco (CA)
1846,AA Batteries (4-pack),1,3.84,04/22/19 16:55,"594 7th St, New York City, NY 10001",4,New York City (NY)
1847,Apple Airpods Headphones,1,150.00,04/05/19 23:46,"686 8th St, San Francisco, CA 94016",4,San Francisco (CA)
1848,USB-C Charging Cable,1,11.95,04/04/19 16:39,"263 Sunset St, Los Angeles, CA 90001",4,Los Angeles (CA)
1849,Apple Airpods Headphones,1,150.00,04/26/19 14:24,"388 Johnson St, San Francisco, CA 94016",4,San Francisco (CA)

# Save excel spreadsheet

In [24]:
filename = 'data/sales_merge.xlsx'

df_merge.to_excel(filename, sheet_name='Sales merged')

# Write in excel spreadsheet

In [25]:
workbook = openpyxl.load_workbook(filename)

workbook.sheetnames

['Sales merged']

In [26]:
worksheet = workbook['Sales merged']

In [27]:
last_index = str(len(df_merge)+2)
last_index

'1852'

In [28]:
# escrever na planilha
worksheet['A' + last_index] = 'Total of Sales'
# deixar em negrito
worksheet['A' + last_index].font = openpyxl.styles.Font(bold=True)

In [29]:
# escrever na planilha
worksheet['D' + last_index] = '=SUMPRODUCT(C2:C{},D2:D{})'.format(str(int(last_index)-1),
                                                                  str(int(last_index)-1))

In [30]:
# verificar valor escrito
worksheet['D' + last_index].value

'=SUMPRODUCT(C2:C1851,D2:D1851)'

In [31]:
# salvar arquivo
workbook.save(filename)